body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-small;
}


header>img,img{
    display: block;
    margin:auto;
    width: 60px;
}

.bg2{
    background-color: bisque;
    border-style:double;
    border-color: black;
}

.border{
    border-style:double;
    border-color: black;
}

li,p,h3{
    color: rgb(78, 19, 19);
    text-align: center;
}


ul{
    padding: 1px;
    line-height: 12px;
    list-style-type: none;
}

article{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    
    
    
}

div{
    margin-top: 2px;
}

section{
    margin: 10px;
}

.app-logo{
    width: 100px;
}

.apps{
display: grid;
grid-template-columns: auto auto;
}

.smedia{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.hak{
    margin-top: 10px;
}

